<!DOCTYPE html>
<html>
  <head>
    <title>漢字勉強</title>
    <%= csrf_meta_tags %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <%= javascript_pack_tag "application" %>

    <!-- used for importing scss from src/assets/stylesheets -->
    <%= stylesheet_link_tag "application", media: "all" %>

    <!-- used for importing scss from src/javascript -->
    <%= stylesheet_pack_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
